/*Палитра*/
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* черный #000000 */
/* белый  #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-white-color: #f5f4fa;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

/*img {
	display: block;
	max-width: 100%;
	height: auto;
}*/

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.block {
	display: block;
}

/*Шапка сайта*/

.page-header {
	background-color: var(--primary-white-color);
}

.header-container {
	display: flex;
	align-items: center;

	background-color: var(--primary-white-color);
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	/*outline: 2px solid tomato;*/
}

.container {
	background-color: var(--primary-white-color);
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	/*outline: 2px solid tomato;*/
}

/*Логотип*/

.navigation {
	display: flex;
}

.logo {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo-head {
	color: var(--accent-color);
}

/*Навигация*/

.nav {
	display: flex;
	margin-left: 85px;
}

.nav .item {
	margin-right: 50px;
	/*background-color: tomato;*/
}

.nav .item:last-child {
	margin-right: 0;
}

.nav .nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-color);
}

.nav .nav-link.current {
	color: var(--accent-color);
}

.contact {
	display: flex;
	margin-left: auto;
}

.contact .item {
	margin-right: 30px;
	/*background-color: teal;*/
}

.contact .item:last-child {
	margin-right: 0;
}

.item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.item:hover,
.item:focus {
	--color2: var(--accent-color);
}

.link-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.link-icon:hover,
.link-icon:focus {
	--color2: var(--accent-color);
}

.contact .link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
	color: var(--accent-color);
	--color2: var(--accent-color);
}

/*СТУДИЯ*/

/*Герой*/

.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	/*outline: 1px solid black;*/
	background: rgba(47, 48, 58, 0.8);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	padding-top: 200px;
	/*padding-right: auto;*/
	padding-bottom: 200px;
	/*padding-left: auto;*/
	text-align: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--primary-white-color);
	/*временный цвет фона для видимости заголовка
	background-color: rgba(47, 48, 58, 0.8);*/
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/*Остальной main*/

/*Section*/

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section.no-padding {
	padding-top: 94px;
	padding-bottom: 0;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.section-title.centered {
	text-align: center;
}

/*Преимущества*/

.feature-list {
	display: flex;
	justify-content: space-between;

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.feature-item {
	width: 270px;
	height: 251px;
	text-align: center;
}

.feature-item::before {
	content: "";
	height: 120px;
	display: block;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary-white-color);
	border-radius: 4px;
	/*outline: 1px solid tomato;*/
}

.icon-antenna::before {
	background-image: url(../images/antenna1.svg);
}

.icon-clock::before {
	background-image: url(../images/clock1.svg);
}

.icon-diagram::before {
	background-image: url(../images/diagram1.svg);
}

.icon-astronaut::before {
	background-image: url(../images/astronaut1.svg);
}

.feature-list .title {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: start;

	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-list p {
	text-align: start;
	margin-top: 0;
	margin-bottom: 0px;
}

/*Услуги*/

.services-list .services-title {
	color: var(--primary-white-color);
	/*временный цвет фона для видимости заголовка*/
	background-color: rgba(47, 48, 58, 0.8);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
}

.services-list {
	display: flex;
	justify-content: space-between;
}

.services-item {
	width: 370px;
}

.services-title {
	margin-top: 0;
	margin-bottom: 0;
}

/*Персонал*/

.staff-section {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--secondary-white-color);
}

.staff-container {
	background-color: var(--secondary-white-color);
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	/*outline: 2px solid tomato;*/
}

.staff-list {
	display: flex;
	justify-content: space-between;
}

.staff-item {
	display: block;
	width: 270px;

	background-color: var(--primary-white-color);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
}

.staff-list .title {
	margin-top: 30px;
	margin-bottom: 10px;

	color: var(--title-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.staff-list p {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0px;
}

.social-list {
	display: flex;

	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 24px;
	padding-left: 32px;

	/*margin-left: auto;
	margin-right: auto;

	margin-top: 16px;
	margin-bottom: 24px;*/
	/*outline: 2px solid tomato;*/
}

.social-link {
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
	background-color: var(--accent-color);
	--color1: var(--primary-white-color);
}

.social-link-icon:hover,
.social-link-icon:focus {
	--color1: var(--primary-white-color);
	background-color: var(--accent-color);
}

.social-item {
	margin-right: 10px;
	/*background-color: teal;*/
}

.social-item:last-child {
	margin-right: 0;
}

/*Клиенты*/

.clients-list {
	display: flex;
	justify-content: space-between;
}

.clients-link {
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	background-color: var(--primary-white-color);
	border: 1px solid #afb1b8;
	border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
	--color1: var(--accent-color);
	background-color: var(--primary-white-color);
	border: 1px solid var(--accent-color);
}

.clients-icon:hover,
.clients-icon:focus {
	--color1: var(--accent-color);
	background-color: var(--primary-white-color);
}

/*Футер*/

.footer {
	background-color: #2f303a;
}

.footer-container {
	display: flex;
	align-items: flex-start;

	background-color: #2f303a;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	/*outline: 2px solid tomato;*/
}

.footer-logo {
	display: block;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.info-container {
	padding-top: 60px;
	padding-right: 69px;
	padding-bottom: 60px;
	/*outline: 2px solid tomato;*/
}

.logotype {
	margin-bottom: 20px;
}

.address-container {
	display: block;
}

.address-item {
	margin-bottom: 9px;
	/*background-color: teal;*/
}

.address-item:last-child {
	margin-bottom: 0;
}

.office {
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.connection {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.social-container {
	padding-top: 72px;
	padding-right: 94px;
	padding-bottom: 100px;
	/*outline: 2px solid tomato;*/
}

.footer-soclist {
	display: flex;
	margin-top: 20px;
}

.footersocial-item {
	margin-right: 10px;
	/*background-color: teal;*/
}

.footersocial-item:last-child {
	margin-right: 0;
}

.footer-social {
	/*width: 44px;
	height: 44px;*/
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}

.footer-social:hover,
.footer-social:focus {
	background-color: var(--accent-color);
	--color1: var(--primary-white-color);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
	--color1: var(--primary-white-color);
	background-color: var(--accent-color);
}

.act-container {
	display: flex;
	padding-top: 72px;
	padding-bottom: 94px;
	/*outline: 2px solid tomato;*/
}

.act {
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

/*Button*/

.button {
	display: inline-block;
	padding: 8px 30px;
	border-radius: 4px;
	border-color: transparent;
	min-width: 200px;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-decoration: none;
}

.footer-button {
	padding-top: 8px;
	padding-right: 26px;
	padding-bottom: 8px;
	padding-left: 27px;
	border-radius: 4px;
	border-color: transparent;
	min-width: 200px;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-decoration: none;
}

.footer-button::after {
	content: " ";
	width: 24px;
	height: 24px;
	margin-left: 10px;
	background-image: url(../images/telegram.svg);
	background-size: contain;
}

/*ПОРТФОЛИО*/

.button-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.button-list .item {
	margin-right: 8px;
	/*background-color: tomato;*/
}

.button-list .item:last-child {
	margin-right: 0;
}

.portfolio-button {
	display: inline-block;
	padding: 4px 20px;
	border-radius: 4px;
	border-color: transparent;

	color: var(--title-text-color);
	background-color: var(--secondary-white-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	text-decoration: none;
	cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-element {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;

	background-color: var(--primary-white-color);
	box-sizing: border-box;
	/*background-color: tomato;*/
}

/*Альтернатива

calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке

.flex-element {
	width: calc((100%-60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: tomato;
}
*/

.flex-element:nth-child(3n) {
	margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio-head {
	padding: 19px 23px;
	border: 1px solid #eeeeee;
}

.portfolio-link {
	text-decoration: none;
}

.portfolio-title {
	margin-top: 0;
	margin-bottom: 4px;

	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--primary-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}

.description {
	/*Временно скроем текст ховера для дз №3*/
	display: none;

	color: var(--primary-white-color);

	/*временный цвет фона для видимости текста*/
	background-color: rgba(33, 150, 243, 0.9);

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
}
